﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Default.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h4>MSSV: 1212433</h4>
        <h4>Họ và tên: Lê Phạm Ngọc Trâm</h4>
        <h4>Email: 1212433@student.hcmus.edu.vn</h4>
        <h4>Ảnh đại diện:</h4>
        <img src="http://imagizer.imageshack.us/v2/280x200q90/538/i3THjR.jpg" />
    </div>
    </form>
</body>
</html>
